<!DOCTYPE html>
{% extends "zombieGame/base.html" %}
<html>
    <head>

        <title>login</title>
    </head>

    {% block content %}

    <body>
        <h1>Login first!</h1>

        <form id="login_form" method="post" action="/zombieGame/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" /><br />
            Password: <input type="password" name="password" value="" size="50" /><br />

            <input type="submit" value="submit" />
        </form>
    <p>Don't have an account? Sign up!</p>
    <a href="/zombieGame/register/">Register Here</a><br />
    <!--<a href="/zombieGame">Home</a>-->

    </body>

    {% endblock content %}

</html>