<!DOCTYPE html>
{% extends "zombieGame/base.html" %}

{% load static %}
{% load media %)
<html xmlns="http://www.w3.org/1999/html">

	<head>
		<title>Profiles</title>
	</head>

	{% block content %}

	<H1 style="text-align:center;">Profiles Page</H1>
        <p<b>Welcome back {{ user.username }}!</b></p>

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="{{ profile.picture.url }}" alt="user profile"  alt height="200", width="200"/>
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>User name: {{profile}}</p>
            </blockquote>
                <br/> <p><i class="glyphicon glyphicon-fire"></i>Best Kills:{{profile.kills}}
                <br/> <p><i class="glyphicon glyphicon-globe"></i>Survival:{{profile.days}}
                <br/> <p><i class="glyphicon glyphicon-user"></i>Most friends:{{profile.people}}
        </div>
        <div class="col-sm-4 col-md-4 ">
		 <button type="button" class="btn btn-default"><a href = "/zombieGame/logout/">LOGOUT</button>


    </div>
</div>

	</body>

	{% endblock content %}

</html>
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="{% static "{{profile.picture}}" %}" alt = "Profile Picture"  />
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>User name: {{profile}}</p>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i><p>Best Kills: </p>{{profile.kills}
                <br
                /> <i class="glyphicon glyphicon-globe"></i><p>Survival: </p>{{profile.days}}
                <br /> <i class="glyphicon glyphicon-gift"></i><P>Most friends: </P>{{profile.people}}
        </div>
        <div class="col-sm-2 col-md-2">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
            alt="" class="img-rounded img-responsive" />
        </div>
		 <a href = "/zombieGame/logout/">Logout</a><br />

    </div>
</div>
